/* src/components/Home.css */

.home {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #020617;
  padding: 40px;
  border-radius: 12px;
  border: 1px solid #1e293b;
  text-align: center;
  width: 350px;
}

.card h1 {
  margin-bottom: 20px;
}

.welcome {
  color: #22c55e;
  margin-bottom: 20px;
}

.login-btn {
  padding: 10px 20px;
  background: #38bdf8;
  color: black;
  border-radius: 8px;
  font-weight: 500;
  transition: 0.2s;
}

.login-btn:hover {
  background: #0ea5e9;
}